/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

header h1 {
  color: #007bff;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

/* Skills Progress Bars */
.progress {
  height: 25px;
  border-radius: 10px;
}

.progress-bar {
  font-size: 16px;
  color: white;
  padding-left: 10px;
}

.progress-bar.bg-success {
  background-color: #28a745;
}

.progress-bar.bg-info {
  background-color: #17a2b8;
}

.progress-bar.bg-warning {
  background-color: #ffc107;
}

.progress-bar.bg-danger {
  background-color: #dc3545;
}

.progress-bar.bg-primary {
  background-color: #007bff;
}

.progress-bar.bg-dark {
  background-color: #343a40;
}
